<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title> Team Home </title>

        <style type="text/css">
        </style>

    </head>
    <body>
        <h1> TEAM HOME </h1>
        <% if flash[:token_info] %>
            <p class="notice" style="color:#E55;font-size:110%;">Your team token is: <%= flash[:token_info] %></p>
        <% end %>
        <% if current_user.is_admin %>
            <form action="/teamhome/newtoken" method="POST">
                <button type="submit" class="btn btn-danger">Get token</button>
            </form>
        <% end %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-danger", :style => "color: white;") %>
    </body>
</html>
