
<p style="color:#E55;font-size: 110%;">Welcome, <%= @email %></p>

<p style="color:#E55;font-size: 110%;">Please confirm your account:</p>

<p style="color:#E55;font-size: 110%;"><%= link_to 'Click here', confirmation_url(@resource, confirmation_token: @token) %></p>
